html {
  scroll-behavior: smooth;
}

section {
  padding-top: 4rem; /* Adjust according to your navbar height */
  margin-top: -4rem; /* Same value to offset the padding */
}

nav ul li a.active {
  color: #2c5feb;
  font-weight: 900;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}
::-webkit-scrollbar-thumb {
  background-color: #4071fab2; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
}